



.index-container {  
    display: grid;
    grid-template-columns: 1.3fr 3fr 1.3fr;
    grid-template-rows: 1fr 0.7fr 2.7fr 2fr 1fr 4fr 35px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "margin__izquierdo navBar margin__derecho"
    "margin__izquierdo index__Titulo__Container margin__derecho"
    "margin__izquierdo index__VideoyTexto__Container margin__derecho"
    "margin__izquierdo index__Suscripciones__Container margin__derecho"
    "margin__izquierdo index__ManteneteActivado__Container margin__derecho"
    "margin__izquierdo index__Contacto__Container margin__derecho"
    "margin__izquierdo footer margin__derecho";
}

.navBar { 
    grid-area: navBar;
    background-color: $color-containers;
    .menuDeNavegacion li a{
        color:$color-titulos;
        text-decoration: none;
        font-family: $tipografia-titulos;
        flex-wrap: wrap;
    }
}


.menuDeNavegacion{
    @include flex-row-s_a;
    list-style-type: none;
    align-items: center;
    background-color: $color-containers;
    padding-right: ($separacion-padding/2)-20;
}



@media (max-width:1500px) {
    .navBar .menuDeNavegacion li a{
        font-size: 10px;
    }

    
}


.index__Titulo__Container { 
    grid-area: index__Titulo__Container;
    color:map-get($map: $estilo-tipografia-titulos, $key:color );
    font-size:map-get($map: $estilo-tipografia-titulos, $key:tFuente);
    font-family:map-get($map: $estilo-tipografia-titulos, $key:familia );

    text-align: center;
    text-shadow: 2rem;
    font-weight: bolder;
    background-color: $color-containers;
    
}

@media (max-width:1500px) {
    .index__Titulo__Container{
        font-size: 10px;
    }
    
}

.index__VideoyTexto__Container {
    background-color:$color-containers;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "index__Video__Container"
    "index__Texto__Container"; 
    grid-area: index__VideoyTexto__Container; 
}

.index__Video__Container { 
    grid-area: index__Video__Container;
    @include flex-row-s_a; 
}

.index__Texto__Container { 
    grid-area: index__Texto__Container;
    color: $color-containers;
    background-color: $color-containers-alternativo;
    font-family: $tipografia-textos;
    font-size: smaller;
    width: 80%;
    border-radius: 20px; 
    margin-top: $separacion-margen/2;
    margin-left: ($separacion-margen)-10px;
}

@media (max-width:1500px) {
    .index__Texto__Container{
        margin-left: ($separacion-margen)-30px;
        font-size: 10px;
    }
    
}

@media (max-width:599px) {
    .index__Texto__Container{
        margin-left: ($separacion-margen)-30px;
    }
    
}


.index__Suscripciones__Container { 
    grid-area: index__Suscripciones__Container;
    background-color:$color-containers; 
}

.suscripciones__titulo{
    color: $color-titulos;
    font-size: 30px;
    background-color: $color-containers;
    font-weight: bolder;
    font-family: $tipografia-titulos;
    margin-left: ($separacion-margen*2)-20px;
}

@media (max-width:599px) {
    .suscripciones__titulo{
        font-size: 25px;
        margin-left: 120px;
    }
    
}

@media (max-width:1550px){
    .suscripciones__titulo{
        margin-left: 60px;
    }
}

@media (max-width:1375px) {
    .suscripciones__titulo{
        font-size: 25px;
    }
    
}

@media (max-width:1200px) {
    .suscripciones__titulo{
        font-size: 20px;
        margin-left: 90px;
    }
    
}

.suscripciones__parrafo{
    color: $color-textos;
    background-color: $color-containers;
    font-size: small;
    font-family: $tipografia-textos;
    text-align: center;
}

.suscripciones__email{
    margin-top: 60px;
    width: 200px;
    height:20px;
    background: linear-gradient(to left,silver,white);
    color: $color-containers;
    font-family: $tipografia-textos;
    font-size: 10px;
}

.suscripciones__button{
    @extend .botonIndex;
    margin-left: 30px;
    

    &:hover{
        color: $color-textos-alternativo;
        background-color: $color-containers-alternativo;
        border: solid 2px black;
    }
}

.suscripciones{
    text-align: center;
}

.index__ManteneteActivado__Container { 
    grid-area: index__ManteneteActivado__Container; 
    background-color: $color-containers;
    border:black solid 2px;
    text-align: center;
    background-image: url(../img/LogoPicantitoAchicadoFondoNegro.png);
    background-repeat: repeat;
}

.canales__titulo{
    color: $color-titulos;
    font-size: 30px;
    background-color: $color-containers;
    font-weight: bolder;
    font-family: $tipografia-titulos;
    text-align: center;
}


.index__Contacto__Container { 
    grid-area: index__Contacto__Container;
    background-color: $color-containers; 
}

.contactoIndex__titulo{
    @include flex-row-s_a;
    font-family: $tipografia-titulos;
    font-size: 2.5rem;
    color: $color-titulos;
}

.contactoIndex__NuestroContacto{
    color: $color-textos;
    font-family: $tipografia-textos;
    font-size: small;
    ul {
        @include flex-row-s_a;
    }
}


.index__Contacto__Informacion{
    @include flex-row-s_a;
    align-items: flex-end;   
    input {
        font-family: $tipografia-textos;
        font-size: 10px;   
    } 
}


@media (max-width:1375px) {
    .index__Contacto__Informacion input{
        font-size: 7px;
    }
    
}

.contactoIndex__Asunto{
    margin-top: 20px;
    margin-left: 63px;
}

@media (max-width:599px) {
    .contactoIndex__Asunto{
        margin-left:20px;
    }
    
}

@media (max-width:1875px) {
    .contactoIndex__Asunto{
        margin-left:60px;
    }
    
}

@media (max-width:1800px) {
    .contactoIndex__Asunto{
        margin-left: 55px;
    }
    
}

@media (max-width:1700px) {
    .contactoIndex__Asunto{
        margin-left: 40px;
    }
    
}

@media (max-width:1500px) {
    .contactoIndex__Asunto{
        margin-left: 33px;
    }
    
}


@media (max-width:$desktopPanoramicas) {
    .contactoIndex__Asunto{
        margin-left:13px;
    }
    
}

@media (max-width:$ipad) {
    .contactoIndex__Asunto{
        margin-left:0px;
    }
    
}

.contactoIndex__Asunto input{
    font-family: $tipografia-textos;
    font-size: 10px;
}

@media (max-width:1375px) {
    .contactoIndex__Asunto input{
        font-size: 7px;
        margin-left: 20px;
    }
    
}

.contactoIndex__Mensaje{
    @include flex-row-s_a;
    margin-top: 40px;
}

.contactoIndex__Mensaje textarea{
    font-family: $tipografia-textos;
    font-size: 10px;
    width: 600px;
    height:200px;
}

@media (max-width:1375px) {
    .contactoIndex__Mensaje textarea{
        font-size: 7px;
    }
    
}

@media (max-width:$desktopPanoramicas) {
    .contactoIndex__Mensaje textarea{
        width:500px;
        height:100px;
    }
    
}

@media (max-width:$tablet) {
    .contactoIndex__Mensaje textarea{
        width: 8rem;
        height:15rem;
    }
    
}

#BotonEnviarIndex{
    @extend .botonIndex;
    margin-top: 60px;
    margin-left: 27rem;
    &:hover{
        color: $color-textos-alternativo;
        background-color: $color-containers-alternativo;
        border: solid 2px black;
    }
}

@media (max-width:599px) {
    #BotonEnviarIndex{
        margin-left:19.5rem;
    }
    
}

@media (max-width:1900px) {
    #BotonEnviarIndex{
        margin-left: 26rem;
    }
    
}

@media (max-width:1850px) {
    #BotonEnviarIndex{
        margin: left 24rem;
    }
    
}

@media (max-width:1700px) {
    #BotonEnviarIndex{
        margin-left: 22rem;
    }
    
}

@media (max-width:1500px) {
    #BotonEnviarIndex{
        margin-left: 20rem;
    }
    
}

@media (max-width:$desktopPanoramicas) {
    #BotonEnviarIndex{
        margin-left:15rem;
    }
    
}

@media (max-width:$ipad) {
    #BotonEnviarIndex{
        margin-left: 12rem;
    }
    
}

.footer { 
    grid-area: footer;
    color: $color-textos;
    font-family: $tipografia-textos;
    font-size: 10px;
    background-color: $color-footer;
    p{
        @include flex-row-s_a;
    }
}


@media (max-width:$ipad) {
    
.footer p{ 
    grid-area: footer;
    color: $color-textos;
    font-family: $tipografia-textos;
    font-size: 10px;
    background-color: $color-footer;
}
    
}


@media (max-width:$tablet) {
    
.footer p{ 
    grid-area: footer;
    color: $color-textos;
    font-family: $tipografia-textos;
    font-size: 7px;
    background-color: $color-footer;
}
    
}


@media (max-width:$mobile) {
    
.footer p{ 
    grid-area: footer;
    color: $color-textos;
    font-family: $tipografia-textos;
    font-size: 5px;
    background-color: $color-footer;
}
    
}



.margin__izquierdo { 
    grid-area: margin__izquierdo;
    background-color: $color-containers;
}

.margin__derecho { 
    grid-area: margin__derecho;
    background-color:$color-containers; 
}