//Paleta de colores:
$color-containers:black;
$color-containers-alternativo:white;
$color-titulos:white;
$color-titulos-alternativo:black;
$color-textos:white;
$color-textos-alternativo:black;
$color-footer:rgb(63, 19, 104);


//Separaciones
$separacion-margen:100px;
$separacion-padding:100px;

//Tipografia
$tipografia-titulos:"Bungee";
$tipografia-textos:"Bungee";

//Medias Quaries
$desktopPanoramicas:1200px;
$ipad:1024px;
$desktop:992px;
$tablet:768px;
$mobile:320px;

/*Mixins*/

@mixin flex-row-s_a {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

/*MAP GET*/

$estilo-tipografia-titulos:(
    color:white,
    familia:"Bungee",
    tFuente:0.95rem,
);